:root {
  --font-family-headings: "Playfair Display", serif;
  --font-family-default: "Cabin Sketch", cursive;
  --accent-color-primary: #4be8e5;
  --accent-color-secondary: #e04f37;
  --accent-color-tertiary: #d09973;
  --text-color-secondary: #272142;
  --box-shadow-main: 7px 11px 10px #ba7c51;
}

body {
  font-family: var(--font-family-default);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-default);
}

h2 {
  font-weight: bold;
}
footer {
  background-color: #000000;
  padding: 15px 0;
  font-size: 18px;
}
footer a {
  color: var(--accent-color-secondary);
  text-decoration: none;
}
footer p {
  color: var(--accent-color-tertiary);
  margin-bottom: 0;
  margin-right: 85px;
  padding-right: 6px;
  text-align: right;
}
footer hr {
  opacity: 0.65;
  margin: 7px 0;
}

footer .icons {
  color: var(--accent-color-tertiary);
  margin: 0 60px;
  font-size: 28px;
}

footer .hr-1 {
  border-top: 3px solid var(--accent-color-primary);
}

footer .hr-2 {
  border-top: 2px solid var(--accent-color-secondary);
}
footer .hr-3 {
  border-top: 5px solid var(--accent-color-tertiary);
}
footer .hr-4 {
  border-top: 3px solid var(--accent-color-primary);
}
div.empty-container {
  background-color: var(--accent-color-tertiary);
  padding: 12px 0;
}

.navigation {
  font-size: 22px;
  font-weight: bold;
  position: fixed;
  top: 0;
  width: 100%;
}
.active {
  color: var(--accent-color-primary) !important;
}

.navbar-dark .navbar-brand {
  color: var(--accent-color-secondary);
  font-size: 22px;
}
.navbar-dark .navbar-nav .nav-link {
  color: var(--accent-color-secondary);
}
.bg-dark {
  background-color: rgba(208, 153, 115, 1) !important;
}
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(13, 110, 253, 1);
}
.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-brand:hover {
  color: rgba(13, 110, 253, 1);
}
.project-info {
  padding: 90px;
}
.project-info h2 {
  font-size: 56px;
  margin: 24px 0;
}

.project-info p {
  color: var(--text-color-secondary);
  font-size: 16px;
  opacity: 0.7;
  margin-bottom: 24px;
}
.project-info a {
  color: var(--accent-color-secondary);
  padding: 12px 36px;
  text-decoration: none;
}

.hero {
  padding: 88px 0px 160px 0;
  text-align: center;
}

.hero h1 {
  font-size: 96px;
  font-weight: bold;
}

.hero h2 {
  color: var(--text-color-secondary);
  font-family: var(--font-family-default);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero p {
  color: var(--text-color-secondary);
  font-size: 24px;
  margin: 0;
}

.hero button {
  background-color: var(--accent-color-secondary);
  border-radius: 10px;
  box-shadow: var(--box-shadow-main);
  color: #ffffff;
  font-size: 18px;
  padding: 20px;
}

.hero-text {
  background: var(--accent-color-tertiary);
  margin: 0;
  opacity: 0.9;
  padding: 48px 10px 67px 0;
}

@media (max-width: 992px) {
  footer p {
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .hero button {
    border: var(--accent-color-secondary);
    font-size: 17px;
    padding: 15px;
  }
  .project-info {
    padding: 19px;
  }
}
@media (max-width: 576px) {
  .hero {
    padding: 70px 0px;
  }
  .hero h1 {
    font-size: 45px;
  }
  .hero h2 {
    font-size: 22px;
  }
  .hero p {
    font-size: 18px;
  }
  .hero button {
    font-size: 14px;
    padding: 10px;
  }

  .project-info {
    font-size: 14px;
    margin-bottom: 12px;
    padding: 8px;
    text-align: center;
  }
  .project-info h2 {
    font-size: 34px;
  }
  .project-info p {
    text-align: justify;
  }
}
